.main-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 20px;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  width: 100%;
}

.text-content {
  max-width: 50%;
}

.text-content h1 {
  font-size: 2.5em;
  color: #4caf50;
  margin-top: 0;
}

.text-content p {
  font-size: 1.2em;
  margin-top: 10px;
}

.text-content ul {
  list-style-type: none;
  padding: 0;
}

.text-content li {
  font-size: 1.2em;
  margin-top: 10px;
}

.image-content {
  max-width: 50%;
}

.image-content img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
